@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* html {
  display: grid;
  min-height: 100%;
} */

/* body {
  display: grid;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
} */

#containerMessage {
  position: relative;
  position: sticky;
  top: 0px;
  margin: auto;
  overflow: hidden;
  height: 10px;
}

h1 {
  font-size: 1.03em;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #fcfcfc;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.box-corner {
  position: absolute;
  margin-top: 130px;
  width: 230px;
  height: 230px;
  border-color: rgb(220, 164, 23);
}
.box-corner::after {
  position: absolute;
  display: flex;
}
.box-corner:before,
.box-corner:after,
.box-corner>:first-child:before,
.box-corner>:first-child:after {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  border-color: rgb(220, 164, 23); 
  border-style: solid;
  content: ' ';
}
.box-corner:before {
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px
}
.box-corner:after {
  top: 0;
  right: 0;
  border-width: 1px 1px 0 0
}
.box-corner>:first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 1px 1px 0
}
.box-corner>:first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 1px 1px
}

.green {
  color: #4ec07d;
}

.red {
  color: #e96075;
}

.alert {
  font-weight: 700;
  letter-spacing: 5px;
}

p {
  margin-top: 7px;
  padding-bottom: 0.8em;
  font-size: 0.7em;
  font-weight: 100;
  color: #101010;
  letter-spacing: 1px;
} 

a {
  font-size: small;
  color: #584df2;
  text-decoration:underline;
}
a:hover {
  color: #a3f310;
}

button,
.dot {
  cursor: pointer;
}

#success-box {
  position: absolute;
  width: 90%;
  height: 100%;
  background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
  perspective: 40px;
}

#error-box {
  position: absolute;
  width: 90%;
  height: 100%;
  background: linear-gradient(to bottom left, #da6274 40%, #ffc39e 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
}

.dot {
  width: 8px;
  height: 8px;
  background: #fcfcfc;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 6%;
}
.dot:hover {
  background: #c9c9c9;
}

.two {
  right: 12%;
  opacity: 0.5;
}

.face {
  position: absolute;
  width: 23%;
  height: 14%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  animation: bounce 1s ease-in infinite;
}

.face2 {
  position: absolute;
  width: 23%;
  height: 13.05%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  animation: roll 3s ease-in-out infinite;
}

.eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #777777;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}

.right {
  left: 68%;
}

.mouth {
  position: absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.happy {
  border: 2px solid;
  border-color: transparent #777777 #777777 transparent;
  transform: rotate(45deg);
}

.sad {
  top: 63%;
  border: 2px solid;
  border-color: #777777 transparent transparent #777777;
  transform: rotate(45deg);
}

.shadow {
  position: absolute;
  width: 21%;
  height: 3%;
  opacity: 0.5;
  background: #777777;
  left: 40%;
  top: 43%;
  border-radius: 50%;
  z-index: 1;
}

.scale {
  animation: scale 1s ease-in infinite;
}

.move {
  animation: move 3s ease-in-out infinite;
}

.message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: 47%;
}

.button-box {
  position: absolute;
  background: #fcfcfc;
  width: 50%;
  height: 15%;
  border-radius: 20px;
  top: 73%;
  left: 25%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
  transition: all 0.5s ease-in-out;
}
.button-box:hover {
  background: #efefef;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}
@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}
@keyframes roll {
  0% {
    transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    transform: rotate(168deg);
  }
  100% {
    transform: rotate(0deg);
    left: 25%;
  }
}
@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px;
  font-family: "Lato", sans-serif;
}
footer p {
  color: #ef8d9c;
  letter-spacing: 2px;
}
